html
{
    background-color: #FFEEB3 ;
}
h1
{
    text-align: center;
   background-color: coral;
    color: aquamarine
}
h2
{
    text-align: center;
    background-color: coral;
    color: aquamarine
    
}
#text-align
{
    text-align: center;
}